In [12]:
try:
    # Google Colab fix
    from beautylish.beautylish import Beautylish
except:
    from beautylish import Beautylish
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [13]:
# Initialize api client and get product list json
beautylish_client = Beautylish()
products = beautylish_client.get_products()

In [14]:
# Create a pandas DataFrame from the API response
df = pd.DataFrame(products)

In [15]:
df

   deleted    price         brand_name    id  hidden           product_name
0    False   $99.99               Acme  2001    True            Giant Anvil
1    False   $99.99               Acme  2001    True            Giant Anvil
2    False   $99.99  Wonderful Widgets  1001   False  Most Wonderful Widget
3    False   $99.99               Acme  2003   False       Anvil - Two Pack
4    False   $99.99               Acme  2000   False                  Anvil
5     True  $123.45  Wonderful Widgets  1000   False            Widget 3000
6    False   $99.99  Wonderful Widgets  1002   False         Another Widget
7    False  $123.45              Hooli  2004    True                Nucleus
8    False  $123.45               Acme  2002   False             Mini Anvil

In [16]:
# Filter out any products that are hidden or deleted.
df = df[~df.deleted & ~df.hidden]

In [17]:
# Sort by lowest to highest price. If two items have the same price, sort by name.
df.price = df.price.replace({'\$': '', ',': ''}, regex=True).astype(float)
df.sort_values(by=['price', 'product_name'], inplace=True)

In [18]:
df

   deleted   price         brand_name    id  hidden           product_name
6    False   99.99  Wonderful Widgets  1002   False         Another Widget
4    False   99.99               Acme  2000   False                  Anvil
3    False   99.99               Acme  2003   False       Anvil - Two Pack
2    False   99.99  Wonderful Widgets  1001   False  Most Wonderful Widget
8    False  123.45               Acme  2002   False             Mini Anvil

In [19]:
# If the same product is included twice, only display it once.
df = df.drop_duplicates()

df

   deleted   price         brand_name    id  hidden           product_name
6    False   99.99  Wonderful Widgets  1002   False         Another Widget
4    False   99.99               Acme  2000   False                  Anvil
3    False   99.99               Acme  2003   False       Anvil - Two Pack
2    False   99.99  Wonderful Widgets  1001   False  Most Wonderful Widget
8    False  123.45               Acme  2002   False             Mini Anvil

In [20]:
# Display a summary that includes:
# The total number of unique products
# The total number of unique brands
# The average price
print(f'\nTotal number of unique products: {df.product_name.nunique()}')
print(f'Total number of unique brands: {df.brand_name.nunique()}')
print(f'Average price: {df.price.mean():.2f}')

Total number of unique products: 5
Total number of unique brands: 2
Average price: 104.68